<div *ngIf="movie">
  <div class="mb-3">
      <p>ID: {{movie.id}}</p>
  </div>
  <label for="code" class="form-label">Movie Title:</label>
  <input class="form-control" id="title" [value] ="movie.Title" readonly><br>
  <div class="row">
      <div class="col-md-6 mb-3">
        <label for="code" class="form-label">Main Actor:</label>
        <input class="form-control" id="actor" [value] ="movie.MainActor" readonly>
      </div>
      <div class="col-md-6 mb-3">
          <label for="desc" class="form-label">Genre:</label>
          <input class="form-control" id="genre" [value] ="movie.Genre" readonly>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 mb-3">
        <label for="code" class="form-label">Director:</label>
        <input class="form-control" id="actor" [value] ="movie.Director" readonly>
      </div>
      <div class="col-md-6 mb-3">
          <label for="desc" class="form-label">Release Date:</label>
          <input class="form-control" id="genre" [value] ="movie.ReleaseDate" readonly>
      </div>
  </div>
  <label for="code" class="form-label">Synopsis:</label>
  <textarea class="form-control" id="synopsis" [value] ="movie.Synopsis" readonly></textarea><br>
</div>