<h1>Books</h1><br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Genre</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Sypnosis</th>
        <th scope="col">Year</th>
        <th scope="col">Publisher</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let Books of books">
        <th scope="row"><a [title]="books.Title">{{movie.Title}}</a></th>
        <td>{{books.Synopsis}}</td>
        <td>{{books.Genre}}</td>
        <td><button type="button" class="btn btn-info"  [class.selected] ="movie === selectedMovie" (click)="onSelect(movie)" data-bs-target="#modal" data-bs-toggle="modal">Info</button>
      </tr>
      <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> Product Details </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <app-product-details [movie]="selectedMovie"></app-product-details>
              </div>
             
          </div>
          </div>
      </div>
      
  

 