<div *ngIf="book">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
    <div class="card mb-3">
      <h3 class="card-header">{{book.title}}</h3>
      <div class="card-body">
        <h5 class="card-title">{{book.author}}</h5>
        <h6 class="card-subtitle text-muted">{{book.publisher}}</h6>
        <p>{{book.genre}}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{book.synopsis}}</p>
      </div>
      <div class="card-footer text-muted">
        {{book.yearp}}
      </div>
    </div>
  
  </div>
  </div>
  </div>
  </div>